.logo {
    width: 150px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.bg {
    width: 100%;
    height: 100%;
    background-image: url("login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background: #ECF7ED;
    opcity: 0.7;
}

section {
    background-color: #FFF;
    box-shadow: 0 0 10px #434A52;
    max-height: 450px;
    min-height: 350px;
    width: 550px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    padding: 10px;
    color: #434A52;
    border-radius: 5px;
}

#login {
    overflow: hidden;
    text-align: center;
    font-size: 38px;
    font-family: Arial;
    border: none;
    border-top: 2px #DDD solid;
    margin: 5% 10%;
}

legend {
    padding: 0px 30px;
}

#login #username {
    margin-top: 40px;
}

#username, #password {
    width: 70%;
    height: 40px;
    box-shadow: inset 0 0 1px #434A52;
    padding: 0 0 0 10px;
    font-size: 12px;
    border: none;
    margin-bottom: 20px;
    outline: none;
}

#login .btn-submit {
    width: 70%;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    color: #FFF;
    margin-top: 20px;
    background-color: #434A52;
    border-radius: 3px;
    outline: none;
}

#msg {
    margin-top: 25px;
    color: red;
    font-size: 18px;
}